*.swp
*.o
*.a
aclocal.m4
config/*
Makefile
Makefile.in
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
libtool
configure
install/
.deps
.dirstamp
.libs
*.la
*.lo
stamp-h1
Doxyfile
