body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a {
    color: #3465a4;
}
a:hover {
    text-decoration: none;
}

p, li {
    line-height: 150%;
}
hr {
    border-top: 1px solid #204a87;
}

header, footer {
    padding: 1em 0;
    background: #2e3436;
    color: #eeeeec;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2em;
    width: 100%;
}
footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
    padding: 0;
    margin: 0 2em 0 0;
    display: inline;
}

header {
    border-bottom: 0.4em solid #204a87;
}
footer {
    border-top: 0.4em solid #204a87;
}
header a, footer a {
    background: #2e3436;
    color: #eeeeec;
    text-decoration: none;
}

header p {
    margin-top: 0;
}
header h1 {
    margin-bottom: 0;
}

#github-link {
    text-decoration: none;
    padding: 10px 36px 10px 0;
    background: url('../images/GitHub-Mark-32px.png') no-repeat center right;
}

#body {
    width: 33em;
    margin: 0 auto;
    padding-bottom: 4.4em; /* Height of footer + paddings + borders */
}

#bottom-nav {
    position: relative;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#bottom-nav a {
    text-decoration: none;
}
#bottom-nav a:hover {
    text-decoration: underline;
}
#bottom-nav li {
    display: inline;
    margin: 0;
    padding: 0;
}
#prev-link {
    position: absolute;
    left: 0;
}
#next-link {
    position: absolute;
    right: 0;
}

code {
    background-color: #eeeeec;
    color: #2e3436;
    border: 1px solid #d3d7cf;
    padding: 2px;
}
pre code {
    padding: 0;
    border: none;
}

pre, .sourceCode {
    background-color: #2e3436;
    color: #eeeeec;
}
pre {
    border: 5px solid #2e3436;
    line-height: 125%;
}

.dt, .kw, .fu {
    font-weight: bold;
}

.ot {
    color: #ad7fa8;
}
.ch {
    color: #ce5c00;
}
.dv, .st {
    color: #edd400;
}
 .dt {
    color: #8ae234;
}
.kw {
    color: #eeeeec;
}
.co {
    color: #888a85;
}
